* {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
}

.page-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    a {
        color: white;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
}

.hide-list-bullets {
    list-style-type:none;
    padding: 0;
}

.jc-sa {
    justify-content: space-around;
}

.my-calc {
    display: grid;
    text-align: center;
    font-size: 48pt;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "result result result result          "
        "clear  clear  back   division        "
        "seven  eight  nine   multiplication  "
        "four   five   six    subtraction     "
        "one    two    three  addition        "
        "zer0   zer0   zer0   equals          ";
    button, .calc-result {
        border: 1px solid black;
        height: 125px;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
    }
}
.math-op {
    background-color: orange;
    color: white;
}
.calc-result {
    grid-area: result;  
    line-height: 125px; 
    background-color: black;
    color: white;
    text-align: right;
}
.calc-clear {
    grid-area: clear;
}
.calc-back {
    grid-area: back;
}
.calc-divide {
    grid-area: division;
}
.calc-multiply {
    grid-area: multiplication;
}
.calc-subtract {
    grid-area: subtraction;
}
.calc-add {
    grid-area: addition;
}
.calc-equals {
    grid-area: equals;
}
.calc-9 {
    grid-area: nine;
}
.calc-8 {
    grid-area: eight;
}
.calc-7 {
    grid-area: seven;
}
.calc-6 {
    grid-area: six;
}
.calc-5 {
    grid-area: five;
}
.calc-4 {
    grid-area: four;
}
.calc-3 {
    grid-area: three;
}
.calc-2 {
    grid-area: two;
}
.calc-1 {
    grid-area: one;
}
.calc-0 {
    grid-area: zer0;
}
