* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Times New Roman', Times, serif;*/
}

header.nav {
    text-align: center;
    background-color: #ae5e13;
    color: #faf2c0;
    padding: 10px;
    border-radius: 5px;
    a {
        color: #faf2c0;
    }
    ul {
        list-style-type:none;
        justify-content: space-around;
    }
}

.flex-container {
    display: flex;
    width: 100%;
}

.my-page-header {
    grid-area: nav-header;
    background-color: red;
    height: fit-content;
    padding: 10px;
}

.my-page-body {
    grid-area: main-body;
    background-color: blue;
    height: 600px;
    padding: 10px;
}

.my-page-sidebar {
    grid-area: nav-side;
    background-color: green;
    padding: 10px;
}

.my-page-footer {
    grid-area: footer;
    background-color: yellow;
    height: 100px;
    padding: 10px;
}


.my-page-items {
    grid-area: items-body;
    background-color: blue;
    height: 400px;
    padding: 10px;
}

.my-page-name {
    grid-area: name-body;
    background-color: orange;
    padding: 10px;
}

.my-page-payment {
    grid-area: payment-body;
    background-color: teal;
    padding: 10px;
}

.my-page-total {
    grid-area: total;
    background-color: green;
    padding: 10px;
}

.my-page-place-order {
    grid-area: place-order;
    background-color: aqua;
    padding: 10px;
}

.my-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "nav-header  nav-header   "
        "items-body  name-body    "
        "items-body  payment-body "
        "total       total        "
        "place-order place-order  ";
}

.center-text {
    text-align: center;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
}

.width-third {
    width: 30%;
}

.coffee_masters_logo {
    height: 30px;
    padding-right: 3px;
}

.coffee_masters_header {
    font-size: small;
}

.dollar-amount {
    text-align: right;
}

.total {
    font-weight: bold;
}

.large-bottom-button {
    background-color: #ddb992;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
}